@model List<MvcTutorial.Models.DemoClass>

<div class="container p-4">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-primary">Product</h2>
        </div>
        <div class="col-sm-6 text-end">
            <a class="btn btn-primary" asp-area="" asp-controller="Category" asp-action="Create"><i class="bi bi-plus-circle"></i> Add Product</a>
        </div>
    </div>
</div>
<div class="container">
    <h1>List of Product</h1>
    <table class="table-bordered table-striped" style="width:100%">
        <thead>
            <tr style="text-align:center">
                <th>
                   Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody style="text-align:center">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td role="group">
                                    <a asp-action="Edit" asp-controller="category" asp-route-id="@item.Id"> <i class="bi bi-pencil-square"></i></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a asp-action="Delete" asp-controller="category" asp-route-id="@item.Id"> <i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
